<!DOCTYPE html>
<html lang="pt-br">
<%- include layouts/header %>

    <body>
        <% include layouts/nav %>
            <div class="container">
                <%- body %>

                <%- include layouts/footer %>
            </div>
    </body>

</html>