<%- contentFor('body') %>

    <h3>Sobre a Empresa</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, totam ea ad officiis labore odit necessitatibus
        voluptate, iure unde modi aspernatur. Maiores aliquid eveniet corporis ipsam praesentium dolores soluta
        deserunt?
    </p>